* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header,
footer {
    width: 100%;
    height: 44px;
}

header ol {
    width: 100%;
    height: 100%;
    display: flex;
    background: palegoldenrod;
}

ol li {
    flex-grow: 1;
    height: 100%;
    line-height: 44px;
    text-align: center;
}

footer h2 {
    background: pink;
    width: 100%;
    height: 100%;
    line-height: 44px;
    text-align: center;
}