* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
header,
footer {
    width: 100%;
    height: 44px;
}

header ol {
    width: 100%;
    height: 100%;
    display: flex;
    background: palegoldenrod;
}

ol li {
    flex-grow: 1;
    height: 100%;
    line-height: 44px;
    text-align: center;
}

footer h2 {
    background: pink;
    width: 100%;
    height: 100%;
    line-height: 44px;
    text-align: center;
=======
section {
    flex-grow: 1;
    width: 100%;
}

section ul {
    width: 100%;
    height: 100%;
}

ul li {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ccc;
    margin-bottom: 10px;
>>>>>>> aa
}